*{
    font-family: 'Poppins', sans-serif;
}

html, body {
    margin: 0; 
}

body {
    background-color: #1e272e;

}

#myheader{
    margin: 0 auto; 
}
.headerGameTimer{
    width: 120px; 
}

#buttonsDiv{
    margin: 0 auto; 
}

.margin-please{
    margin: 0 auto; 
    text-align: center; 
}


canvas {
    margin: 0 auto; 
    display: block; 
}

header {
    color: white; 

}



#logo {
width: 40px; 

}

header h1 {
    color: white; 

}


#rewind_btn{
    background-color: #ff3f34; 
    border: none; 
    padding: 15px 0px; 
    color: white; 
    width: 170px; 
    border-radius: 30px; 
    font-size: 22px;
    font-weight: bold; 
    outline: none; 
    cursor: pointer; 

}




#displayGameOver {
    color: #bb0000;
    font-size: 80px; 
    font-weight: bold; 
    z-index: 500; 
}


#totalmodal{
    position: absolute; 
    top: 50px; 
    left: 450px; 
    visibility: hidden; 
    z-index: 500;
    width: 500px; 
}

.textGameOver{
    background-color: rgb(77,77,77, 0.8);
    color: white; 
    font-size: 20px; 
    margin: 5px; 
    position: relative; 
    top: -100px; 
    left: -20px; 
    border-radius: 20px; 
    padding: 20px; 
    border: 3px rgb(77,77,77); 
    z-index: 500; 
   
}

#table_div {
    font-size: 20px; 
    margin: 5px; 
    
    position: relative; 
    left: 40px; 
    width: 400px; 
    z-index: 500; 
}

td {

    text-align: center; 
    font-size: 18px; 


}

th {
    color: #cee974;
    text-align: center; 
    font-size: 24px; 
    padding: 10px; 

}

#home_btn{
    background-color: rgb(221,148,49); 
    border: none; 
    padding: 15px 0px; 
    color: white; 
    width: 170px; 
    border-radius: 30px; 
    font-size: 22px;
    font-weight: bold; 
    outline: none; 
    cursor: pointer; 
}